.first-box {
	display: inline-block;
	width: 35em;
	margin: 0 0 0 4em;
	// float: right;
}

.form-box {
	display: inline-block;
	width: 35em;
	// float: left;
	height: 30em;
	margin: 0 0 0 3em;

	.submitJobForm {
		position: relative;
		margin-top: -3em;
		label {
			display: block;
			width: 100%
		}
		input {
			display: block;
			width: 100%
		}
		textarea {
			display: block;
			width: 100%;
			height: 6em;
		}
		button{
			display: block;
			background-color: #00A246;
			float: right;
			height: 2em;
			width: 8em;
			font-size: 22px;
			color: #FCFEC3;
			margin-top: 0.5em;
		}
	}
}

.navBar-Box {
	clear: both;

	.topGreyBox {
		background-color: #535353;
		height: 1em;
	}

	.navBar {
		height: 5em;
		margin: 0 auto;


		.navLogo {
			background: no-repeat center/100% url("../images/logo.png");
			height: 5em;
			width: 5em;
			float: left;
			margin-left: 6em;
		}

		.logoTitle {
			color: #002805;
			float: left;
			font-size: 2.5em;
			padding: 0.5em;
		}

		.navBarItems {
			display: inline-block;
			height: 5em;
			float: left;
			padding: 1em;

			li {
				list-style: none;
				display: inline-block;
				margin: 0.5em 1em;

				a {
					text-decoration: none;
					color: #474747;
					font-weight: bold;
				}
			}
		}
	}
}

.jobRow-Box {

	.jobTitleBox {
		overflow: hidden;

		.jobTitle {
			display: block;
			float: left;
			font-size: 1.4em;
			color: #00391B;
			margin: 0.25em 0;
			
		}

		.dateAdded {
			display: block;
			float: right;
			color: #9B9B9B;
		}
	}

	.infoLocation-Line {
		margin: 0.25em 0;
		.job-type {
			font-weight: bold;
		}

		.bullet {
			margin: 0 0.3em;
		}

		.location {

		}
	}

	.descriptionSnip {
		color: #9B9B9B;
	}

	.tagLine {
		margin: 0.25em 0;
		position: relative;
		margin-left: -2.25em;
		li {
			display: inline-block;
			margin: 0 0.5em 0 0;
			border: 2px solid #D7EB7F;
			background-color: #F6FCE8;
			padding: 0.4em;
			list-style: none;
		}
	}
}

.filterBox {

	form {

		.keyword {
			display: inline-block;
			margin: 0 0.5em;

			label {
				display: block;
				font-weight: bold;
			}
			input{
				display: block;
				width: 15em;
			}
		}

		.formLocation {
			display: inline-block;
			margin: 0 0.5em;

			label {
				display: block;
				font-weight: bold;
			}
			input{
				display: block;
				width: 15em;
			}
		}

		button {
			width: 10em;
			background-color: #00A346;
			color: #E4FAB9;
			border: none;
			border-radius: 5px;
		}
	}
}

.informationBox {
	background-color: #F9FCE8;
	width: 30em;
	padding: 2em 2em 0.5em 2em;
	border: 2px solid #E1EEAE;

	h1 {
		margin: 0;
		margin-bottom: -0.2em;
		font-size: 30px;
		font-weight: normal;
	}
	span {
		display: block;
		font-size: 22px;
		margin-top: 1em;
	}
	ul {
		font-size: 22px;
	}
	button {
		display: block;
		height: 2em;
		width: 24em;
		margin: 0 auto;
		background-color: #666666;
		font-size: 20px;
		color: #fff;
		margin-bottom: 0.5em;
	}

}

.company-Box {

	.company-Box-Box {
		margin: 0 5em;


		h1 {
			font-size: 3em;
			position: relative;
			margin-bottom: -0.2em;
		}

		.coverPic {
			background: no-repeat center/100% url("../images/featured.jpg");
			height: 30em;	
			width: 50em;
			margin: 0 auto;
		}

		.profilePic {
			background: no-repeat center/100% url("../images/featured-logo.jpg");
			height: 22em;	
			width: 22em;
			margin: 0 auto;
			position: relative;
			margin-top: -12em;
		}

		.companyInfo {
			width: 19em;
			margin: 5em auto 13em auto;
			.companyName {
				display: block;
				color: #00A142;
				font-size: 5em;
			}

			.companyLocation {
				display: block;
				color: #696969;
				font-size: 2em;
				width: 6em;
				margin: 0 auto;
			}
		}
	}
}