.first-box {
  width: 35em;
  float: right; }

.form-box {
  width: 35em;
  float: left;
  height: 30em; }
  .form-box .submitJobForm label {
    display: block;
    width: 100%; }
  .form-box .submitJobForm input {
    display: block;
    width: 100%; }
  .form-box .submitJobForm textarea {
    display: block;
    width: 100%;
    height: 6em; }
  .form-box .submitJobForm button {
    display: block;
    background-color: #00A246;
    float: right;
    height: 2em;
    width: 8em;
    font-size: 22px;
    color: #FCFEC3;
    margin-top: 0.5em; }

.navBar-Box {
  clear: both; }
  .navBar-Box .topGreyBox {
    background-color: #535353;
    height: 1em; }
  .navBar-Box .navBar {
    height: 5em;
    margin: 0 auto; }
    .navBar-Box .navBar .navLogo {
      background: no-repeat center/100% url("../images/logo.png");
      height: 5em;
      width: 5em;
      float: left;
      margin-left: 6em; }
    .navBar-Box .navBar .logoTitle {
      color: #002805;
      float: left;
      font-size: 2.5em;
      padding: 0.5em; }
    .navBar-Box .navBar .navBarItems {
      display: inline-block;
      height: 5em;
      float: left;
      padding: 1em; }
      .navBar-Box .navBar .navBarItems li {
        list-style: none;
        display: inline-block;
        margin: 0.5em 1em; }
        .navBar-Box .navBar .navBarItems li a {
          text-decoration: none;
          color: #474747;
          font-weight: bold; }

.jobRow-Box .jobTitleBox {
  overflow: hidden; }
  .jobRow-Box .jobTitleBox .jobTitle {
    display: block;
    float: left;
    font-size: 1.4em;
    color: #00391B;
    margin: 0.25em 0; }
  .jobRow-Box .jobTitleBox .dateAdded {
    display: block;
    float: right;
    color: #9B9B9B; }

.jobRow-Box .infoLocation-Line {
  margin: 0.25em 0; }
  .jobRow-Box .infoLocation-Line .job-type {
    font-weight: bold; }
  .jobRow-Box .infoLocation-Line .bullet {
    margin: 0 0.3em; }

.jobRow-Box .descriptionSnip {
  color: #9B9B9B; }

.jobRow-Box .tagLine {
  margin: 0.25em 0;
  position: relative;
  margin-left: -2.25em; }
  .jobRow-Box .tagLine li {
    display: inline-block;
    margin: 0 0.5em 0 0;
    border: 2px solid #D7EB7F;
    background-color: #F6FCE8;
    padding: 0.4em;
    list-style: none; }

.filterBox form .keyword {
  display: inline-block;
  margin: 0 0.5em; }
  .filterBox form .keyword label {
    display: block;
    font-weight: bold; }
  .filterBox form .keyword input {
    display: block;
    width: 15em; }

.filterBox form .formLocation {
  display: inline-block;
  margin: 0 0.5em; }
  .filterBox form .formLocation label {
    display: block;
    font-weight: bold; }
  .filterBox form .formLocation input {
    display: block;
    width: 15em; }

.filterBox form button {
  width: 10em;
  background-color: #00A346;
  color: #E4FAB9;
  border: none;
  border-radius: 5px; }

.informationBox {
  background-color: #F9FCE8;
  width: 30em;
  padding: 2em 2em 0.5em 2em;
  border: 2px solid #E1EEAE; }
  .informationBox h1 {
    margin: 0;
    margin-bottom: -0.2em;
    font-size: 30px;
    font-weight: normal; }
  .informationBox span {
    display: block;
    font-size: 22px;
    margin-top: 1em; }
  .informationBox ul {
    font-size: 22px; }
  .informationBox button {
    display: block;
    height: 2em;
    width: 24em;
    margin: 0 auto;
    background-color: #666666;
    font-size: 20px;
    color: #fff;
    margin-bottom: 0.5em; }
